# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = TyouKajyu
    email = tyoukajyu@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBoOfStO1UMakchg4FQSBnY3C+ZRoW/WD9HJ8WMvXBxQ

# [branch "main"]
#     remote = origin
#     merge = refs/heads/main

[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
    gpgsign = true
